# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[AR]M/
[AR]M64/
bld/
[Bb]in/
[Oo]bj/
[Log]s/
[Tt]est[Rr]esult*/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.pyc

# Docker
.dockerignore

# OS files
.DS_Store
Thumbs.db
